@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,600&display=swap');

body{
    background-color: #020617;
    font-family: "Poppins",sans-serif;
}
form h1{
    color: white;
}
label{
    color: white;
}
input{
    color: #f59e0b;
}
img{
    max-width: 50px;
    
}
.im{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}
form{
    background-color: #334155;
    width: 500px;
    height: 550px;
    margin: 50px;
    border-radius: 0.25rem;
    padding: 10px;
    box-shadow: 0 25px 25px rgba(255, 159, 49, 0.15);
}
.campo{
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 0.25rem;
}
.boton{
    width: 100px;
    bottom: 2px;
    margin: 5px;
    border-radius: 0.25rem;
}
.texto{
    border-bottom-width: 4px;
    border-color: white;
}