@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,600&display=swap');
*{
    font-family: "Poppins",sans-serif;
}

body{
    
    display: grid;
    justify-items: center;
}
.d{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #065f46;
}
.d img{
    padding-right: 10px;
    width: 50px;
    
}
.z{ margin: 10px;
    color: white;
    cursor: pointer;
}
.s{
    float: right;
}